* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 1rem;
    font-family: 'Roboto', sans-serif;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img {
    width: 40%;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-top: 0.5rem;
    background-color: #ededed;
}

.location h3 {
    margin-left: 1rem;
}

.explore {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 300px;
    padding: 2rem;
    background-color: #f7f7f7;
}

.explore-text {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    width: 100%;
}

.explore-button {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(#e77ddd, #aa55e7);
    box-shadow: 0px 5px 20px rgb(189, 179, 179);
    font-weight: bold;
    color: white;
    cursor: pointer;
}