@import '../base/_var.scss';

.btn-size {
    display: flex;
    justify-content: center;
    width: $size-100;
    margin: 2rem 0;
}

.btn {
    width: 250px;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient($pink-color, $purple-color);
    box-shadow: $box-shadow;
    color: $white-color;
    font-size: large;
    cursor: pointer;
}