@import '../base/_var.scss';

.heart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    cursor: pointer;
}

.heart i:hover {
    color: $purple-color;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: bold;
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}