@import '../base/_var.scss';

@import '../components/_check.scss';

.small-card-size {
    width: $size-100;
    margin: 0.5rem 0;
}

.small-card {
    display: flex;
    position: relative;
    box-sizing: content-box;
    height: auto;
    border-radius: 1rem;
    background-color: white;
    box-shadow: $box-shadow;
    color: $black-color;
}

.small-card-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 0.75rem 1rem;
    transition: all 0.5s ease-in-out;
}

.small-card-text {
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.small-card-text span, .small-card-text h3 {
    padding-top: 0.25rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.small-card:hover .small-card-content {
    width: 80%;
    transition: all 0.5s ease-in-out;
}