$pink-color: #e77ddd;

$light-pink: #f5edff;

$purple-color: #9356dc;

$mint-color: #99e2d0;

$green-color: #269d80;

$grey-color: #f6f6f6;

$grey-color-2: #eaeaea;

$dark-grey: #7e7e7e;

$white-color: white;

$black-color: black;

$box-shadow: 0 0.375rem 1.25rem rgb(209, 209, 209);

$font-shrikhand: 'Shrikhand', cursive;

$size-100: 100%;