@import '../base/_var.scss';

.head-menu {
    display: flex;
    flex-direction: column;
}

.head-menu a {
    color: $black-color;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.logo img {
    width: 70%;
}

.logo i {
    margin: 0 1rem;
}

.image-size {
    height: 280px;
    margin-top: 0.75rem;
}

.image-size img {
    width: $size-100;
}