@import '../base/_var.scss';

@import '../animations/_loader.scss';

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    position: fixed;
    width: $size-100;
    height: $size-100;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background: $white-color;
    animation: opacity-loader 2s linear both;
}